.btn {
  &,
  &:link {
    padding: 1rem 1.7rem;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  &-outline {
    &-yellow {
      border: 0.13rem solid $yellow;
      color: $yellow;
    }
  }

  &-yellow {
    background: $yellow;
    color: $white;
  }
}
