.header {
  color: $white;
  min-height: 100vh;
  max-height: auto;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(90deg, #f0c 0%, #339 100%);
  position: relative;
}

.banner {
  margin: 3% 0 0;
  padding: 0 0 4rem;

  &__wrap {
    display: flex;
    gap: 4rem;
  }

  &__caption {
    flex: 0 0 50%;

    h2 {
      color: #fff;
      font-size: 5.4rem;
      word-spacing: 0.8rem;

      .text-block {
        display: inline-block;
        width: 100%;
      }
    }
  }

  &__img-wrap {
    flex: 1 0;

    img {
      position: absolute;
      bottom: -7rem;
      right: 10rem;
      width: 40%;
    }
  }
}
