.nav {
  padding: 5rem 0 3rem;
  overflow: hidden;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    align-self: center;
    display: flex;
    gap: 1rem;
    @include responsive(61.56em) {
      display: none;
    }
  }

  &__logo {
    fill: $grey;
    height: 5rem;
  }

  &__nav {
    flex: 0 0 40%;
    @include responsive(61.56em) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-right: auto;
    }
  }

  &__item {
    list-style: none;
    padding: 0.6rem;
    border-bottom: 0.45rem solid transparent;
    transition: all 0.4s;

    &:hover {
      border-bottom: 0.45rem solid $grey;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  .mobile__nav {
    display: none;
    @include responsive(61.56em) {
      display: block;
    }
  }
}
